.background-layer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    --animation-base-duration: 10s;
}

.background-layer-1 {
    background-image: url("/assets/img/background/layer_1.png");
    z-index: calc(-100 + 1);
    animation-duration: calc(var(--animation-base-duration) * 0.8);
    animation-name: keyframes1;
}

.background-layer-2 {
    background-image: url("/assets/img/background/layer_2.png");
    z-index: calc(-100 + 2);
    animation-duration: calc(var(--animation-base-duration));
    animation-name: keyframes2;
}

.background-layer-3 {
    background-image: url("/assets/img/background/layer_3.png");
    z-index: calc(-100 + 3);
    animation-duration: calc(var(--animation-base-duration) * 1.2);
    animation-name: keyframes3;
}

@keyframes keyframes1 {
    from { transform: translateX(0); }
    to { transform: translateX(2%); }
}
@keyframes keyframes2 {
    from { transform: translateX(-2%); }
    to { transform: translateX(3%); }
}
@keyframes keyframes3 {
    from { transform: translateX(0); }
    to { transform: translateX(8%); }
}
