# Cache files
**/__pycache__/
.jekyll-cache

# Test files
!tests/correct_test_data.csv
tests/img/*
tests/picture_sizes.txt

# Spreadsheet files
*.xlsx
*.csv

# Miscellaneous
_site
site/assets/img/Profile/*
.vscode
tmp
service_account_credentials.json
