.pytest_cache
**/__pycache__/
tests/env
tests/screenshots
tests/chromedriver.exe
tests/geckodriver
_site
.jekyll-cache
logs.csv
geckodriver.log
geckodriver
chromedriver
site/_data/*
!site/_data/.gitkeep
site/assets/img/Profile/*
!site/assets/img/Profile/.gitkeep
*.xlsx
.vscode
tmp
*.csv
!tests/correct_test_data.csv
service_account_credentials.json
*.json
tests/img/*
tests/picture_sizes.txt
