---
layout: default
---

{% assign eht_members = site.data.eht %}
{% assign procivitas_members = site.data.procivitas %}

<div class="container-fluid">
    <div id ="carouselExampleControls" class="carousel slide person-info" data-ride="carousel" data-pause="false" data-interval="15000">
        <div class="carousel-inner">
            {% for member in eht_members %}
                {% if forloop.first %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                    <header class="text-center">
                        <object data="assets/img/ElevHalsaLogo.svg" type="image/svg+xml" width="350">
                        </object>
                    </header>
                    {% if member.DROP-IN_SLUT and member.DROP-IN_START %}
                    <div class="drop-in name" data-dropin-end="{{ member.DROP-IN_SLUT }}" data-dropin-start="{{ member.DROP-IN_START }}">
                        <h2>Tillgänglig för drop-in just nu</h2>
                    </div>
                    {% endif %}
                    <div class="name row justify-content-between">
                        <div class="col-7">
                            <h2 style="padding-left: 10px;">{{ member.NAMN }}</h2>
                        </div>
                        <div class="col-5 pl-0 text-center">
                            <h2>{{ member.ARBETSROLL }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p style="padding-left: 10px;">
                                {{ member.INFO_TEXT }}
                            </p>
                        </div>
                        <div class="col-5 d-flex justify-content-center">
                            <img class="profile-image" src="assets/img/Profile/{{member.NAMN}}.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p class="contact">
                                <i class="fa fa-envelope"></i> E-post: {{ member.E-POST }}<br />
                                {% if member.INSTAGRAM and member.TELEFON %}
                                <i class="fa fa-phone"></i> Telefon: {{ member.TELEFON }}<br />
                                <i class="fab fa-instagram"></i> Instagram: {{ member.INSTAGRAM }}<br />
                                {% elsif member.INSTAGRAM %}
                                <i class="fab fa-instagram"></i> Instagram: {{ member.INSTAGRAM }}<br />
                                {% else %}
                                <i class="fa fa-phone"></i> Telefon: {{ member.TELEFON }}<br />
                                {% endif %}
                                <i class="fa fa-calendar-alt"></i> Arbetar: {{ member.ARBETSTIDER }}<br />
                                <i class="fa fa-map-marker-alt"></i> Sal: {{ member.SAL }} <br><br><br><br><br><br />
                            </p>
                        </div>
                        {% if member.TIPS %}
                        <div class="col-4">
                            <h3 class="name tips">Tips</h3>
                            <p class="tips-text">
                                {{ member.TIPS }}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% for member in procivitas_members %}
                <div class="carousel-item">
                    <header class="text-center">
                        <object data="assets/img/ProCivitas_logotyp.png" type="image/svg+xml" width="218" height="218">
                        </object>
                    </header>
                    {% if member.DROP-IN_SLUT and member.DROP-IN_START %}
                    <div class="drop-in procivitas name" data-dropin-end="{{ member.DROP-IN_SLUT }}" data-dropin-start="{{ member.DROP-IN_START }}">
                        <h2>Tillgänglig för drop-in just nu</h2>
                    </div>
                    {% endif %}
                    <div class="name procivitas row justify-content-between">
                        <div class="col-7">
                            <h2 style="padding-left: 10px;">{{ member.NAMN }}</h2>
                        </div>
                        <div class="col-5 pl-0 text-center">
                            <h2>{{ member.ARBETSROLL }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p style="padding-left: 10px;">
                                {{ member.INFO_TEXT }}
                            </p>
                        </div>
                        <div class="col-5 d-flex justify-content-center">
                            <img class="profile-image" src="assets/img/Profile/{{member.NAMN}}.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p class="contact">
                                <i class="fa fa-envelope"></i> E-post: {{ member.E-POST }}<br />
                                {% if .TELEFON %}
                                <i class="fa fa-phone"></i> Telefon: {{ member.TELEFON }}<br />
                                {% endif %}
                                {% if member.INSTAGRAM %}
                                <i class="fab fa-instagram"></i> Instagram: {{ member.INSTAGRAM }}<br />
                                {% endif %}
                                <i class="fa fa-calendar-alt"></i> Arbetar: {{ member.ARBETSTIDER }}<br />
                                <i class="fa fa-map-marker-alt"></i> Sal: {{ member.SAL }} <br><br><br><br><br><br />
                            </p>
                        </div>
                        {% if member.TIPS %}
                        <div class="col-6">
                            <h3 class="procivitas name tips">Tips</h3>
                            <p class="tips-text">
                                {{ member.TIPS }}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="carousel-item">
                <header class="text-center">
                    <object data="assets/img/ElevHalsaLogo.svg" type="image/svg+xml" width="218" height="218">
                    </object>
                </header>
                <div class="row">

                    <div class="countdown-box col-6 pb-3">
                        <div class="name p-1 pl-2 pr-5 d-flex justify-content-between">
                            <h2>SACO-Mässan</h2>
                            <h2 class="timer">14 dagar kvar</h2>
                        </div>
                        <p class="pr-5">
                            Sista anmälning för SACO-mässan är 2020-12-31. Kom ihåg att anmäla er hos Therese!
                        </p>
                    </div>

                    <div class="countdown-box col-6 pb-3">
                        <div class="name p-1 pl-2 pr-5 d-flex justify-content-between">
                            <h2>SACO-Mässan</h2>
                            <h2 class="timer">14 dagar kvar</h2>
                        </div>
                        <p class="pr-5">
                            Sista anmälning för SACO-mässan är 2020-12-31. Kom ihåg att anmäla er hos Therese!
                        </p>
                    </div>

                    <div class="countdown-box col-6">
                        <div class="name p-1 pl-2 pr-5 d-flex justify-content-between">
                            <h2>Högskoleprov</h2>
                            <h2 class="timer">3 veckor kvar</h2>
                        </div>
                        <p class="pr-5">
                            Sista anmälning för högskoleprovet är 2021-01-01. Kom ihåg att anmäla er på www.hogskolaprovet.se
                        </p>
                    </div>

                    <div class="countdown-box col-6">
                        <div class="name p-1 pl-2 pr-5 d-flex justify-content-between">
                            <h2>Högskoleprov</h2>
                            <h2 class="timer">3 veckor kvar</h2>
                        </div>
                        <p class="pr-5">
                            Sista anmälning för högskoleprovet är 2021-01-01. Kom ihåg att anmäla er på www.hogskolaprovet.se
                        </p>
                    </div>

                </div>
            </div>
        </div>

        {% if jekyll.environment == "dev" %}
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}
    </div>
</div>
<script>
    const displayDropins = () => {
        let all = $(".drop-in").each(function() {
            let date_and_time_end = this.dataset.dropinEnd.split(" ");
            let date_and_time_start = this.dataset.dropinStart.split(" ");
            let today = new Date();
            let date = ("0" + today.getDate()).slice(-2);
            let month = ("0" + (today.getMonth() + 1)).slice(-2);
            let year = today.getFullYear();
            let hour = ("0" + today.getHours()).slice(-2);
            let minutes = ("0" + today.getMinutes()).slice(-2);
            let todaysDate = year + "-" + month + "-" + date;

            if(todaysDate == date_and_time_end[0] && todaysDate == date_and_time_start[0]){
                let endHour = date_and_time_end[1].split(":")[0]
                let endMin = date_and_time_end[1].split(":")[1]

                let startHour = date_and_time_start[1].split(":")[0]
                let startMin = date_and_time_start[1].split(":")[1]

                let hasEnded = hour > endHour || (hour == endHour && minutes >= endMin)
                let hasStarted = hour > startHour || (hour == startHour && minutes >= startMin)
                if(hasEnded || !hasStarted ){
                    this.style.display = "none"
                }
            } else {
                this.style.display = "none"
            }
        })
    }
    displayDropins();

    setInterval(displayDropins, 1000*60);
</script>
<div style="position:absolute; right:15px; top:25px;">
    <img src="assets/img/TE4-logo-transparent.png" alt="TE4" height="60px">
</div>
