---
layout: default
---

{% assign eht_members = site.data[site.eht_csv_path] %}
{% assign image_path = site.image_path %}

<div class="logo">
  <img src="assets/img/nti-logo.svg" height="150px">
  <p><b>Elevhälsan</b></p>
</div>
<div class="logoright">
  <p><b>TE4</b></p>
  <img src="assets/img/nti-logo-reverse.svg" height="150px">
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <!-- Creates div for all members -->
    {% assign has_set_a_slide_to_active = false %}
    {% for member in eht_members %}
    {% if member.DOLJ_PROFIL != "TRUE" %}
    {% if has_set_a_slide_to_active == false %}
    <div class="item active">
      {% assign has_set_a_slide_to_active = true %}
      {% else %}
      <div class="item">
        {% endif %}
        <div class="background-grid-layout">
          <div class="grid-item-image">
            <img src="assets/img/{{image_path}}/{{member.FILNAMN}}">
          </div>
          <div class="grid-item-information">
            <div class="info">
              <h1 class="name">{{ member.NAMN }}</h1>
              <p id="role">{{ member.ARBETSROLL }}</p>
              <p class="status"></p>
              <div class="latestChange">
              </div>
            </div>
            <div class="info">
              {% if member.E-POST %}
              <p>
                <img src="assets/img/mail.svg">
                E-post: {{ member.E-POST }}
              </p>
              {% endif %}
              {% if member.TELEFON %}
              <p>
                <img src="assets/img/phone.svg">
                Telefon: {{ member.TELEFON }}
              </p>
              {% endif %}
              {% if member.ARBETSTIDER %}
              <p>
                <img src="assets/img/calendar.svg">
                Arbetstider: {{ member.ARBETSTIDER }}
              </p>
              {% endif %}
              {% if member.PLATS %}
              <p>
                <img src="assets/img/location.svg">
                {{ member.PLATS }}
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      <div class="" id="event1" data-interval="">
        <!-- <div class="background-grid-layout ">
          <div class="grid-item-information sortedContainer"> <span id="sortedDateContainer1">

            </span>
          </div>
          <div class="grid-item-information " id="eventDescription"></div>

        </div> -->
      </div>

    </div>
  </div>
  <script src="misc.js"></script>


  {% if site.eht_csv_path == "correct_test_data" %}
  <script type="module">
    import { sortDates } from "./sortDates.js";
    sortDates("2023-12-19", 1, "./assets/correct_event_test_data.csv");
  </script>
  {% else %}
  <script type="module">
    import { sortDates } from "./sortDates.js";
    sortDates();
  </script>
  {% endif %}
