---
layout: default
---

{% assign eht_members = site.data.stored_data %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="assets/animated-background.css">
</head>

<div class="background-layer background-layer-1"></div>
<div class="background-layer background-layer-2"></div>
<div class="background-layer background-layer-3"></div>

<div class="logo">
  <img src="assets/img/nti-logo.svg" alt="TE4" height="150px">
  <p><b>Elevhälsan</b></p>
</div>
<div class="logoright">
  <p><b>TE4</b></p>
  <img src="assets/img/nti-logo-reverse.svg" alt="TE4" height="150px">
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <!-- Creates div for all members -->
    {% for member in eht_members %}
    {% if member.DOLJ_PROFIL != "TRUE" %}
    {% if forloop.first %}
    <div class="item active">
      {% else %}
      <div class="item">
        {% endif %}
        <div class="background-grid-layout">
          <div class="grid-item-image">
            <img src="assets/img/Profile/{{member.FILNAMN}}">
          </div>
          <div class="grid-item-information">
            <div class="info">
              <h1 class="name">{{ member.NAMN }}</h1>
              <p id="role">{{ member.ARBETSROLL }}</p>
              <p class="status"></p>
              <div class="latestChange">
              </div>
            </div>
            <div class="info">
              {% if member.E-POST %}
              <p>
                <img src="assets/img/mail.svg">
                E-post: {{ member.E-POST }}
              </p>
              {% endif %}
              {% if member.TELEFON %}
              <p>
                <img src="assets/img/phone.svg">
                Telefon: {{ member.TELEFON }}
              </p>
              {% endif %}
              {% if member.ARBETSTIDER %}
              <p>
                <img src="assets/img/calendar.svg">
                Arbetstider: {{ member.ARBETSTIDER }}
              </p>
              {% endif %}
              {% if member.VANING %}
              <p>
                <img src="assets/img/location.svg">
                Våning: {{ member.VANING}}
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>

  </div>
</div>
<!-- Stops carousel from pausing on mousehover -->
<script src="update_status.js"></script>